@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #9d5836;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

*,
html,
body {
    /* overflow-x: hidden; */
}

body {
    @apply bg-white
}

.agatho {
    font-family: var(--font-agatho);
}