@tailwind base;
@tailwind components;
@tailwind utilities;


html,
* {
    transition: all;
    transition-duration: 1000ms;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #9d5836;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #9d5836;
}

*,
html,
body {
    /* overflow-x: hidden; */
}

body {
    @apply bg-white
}

.agatho {
    font-family: var(--font-agatho);
}


.imgText {
    transform: translateY(100px);
}

.imgDiv:hover .imgText {
    transform: translateY(-4rem);
}

.imgDiv:focus .imgText {
    transform: translateY(-4rem);
}


@keyframes slides {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

.photos:hover .photos-slide {
    animation-play-state: paused;
}

.photos-slide {
    animation: slides 15s linear infinite;
}